google-generativeai
fastapi==0.95.2
uvicorn==0.22.0
python-dotenv==1.0.0
google-ai-generativelanguage==0.6.6
google-api-python-client==2.138.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
httplib2==0.22.0
pillow==9.5.0
starlette==0.27.0
uritemplate==4.1.1
python-multipart
gunicorn==22.0.0
jinja2==3.1.2